.category-item{
    margin: 0px 10px;
}

.categories-slider--wraper{
    position: relative;
    overflow: visible;
    margin: auto;
    width: 75%;
}

.categories-slider--wraper:hover .nav-slider{
    opacity: 1;
}

.categories-slider{
    overflow: hidden;
    height: 410px;
    margin-top: 30px;
}

.nav-slider{
    background-color: #ffffff;
    z-index: 1000!important;
    border-radius: 100%;
    padding: 15px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,1);
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.nav-slider--right{
    right: -40px;
}

.nav-slider--left{
    left: -40px;
}

@media (max-width: 576px) 
{
    .category-item
    {
        margin: 0px;
        width: 45%;
    }
    .categories-slider{
        height: auto;
        margin-top: 30px;

        display: flex;
        flex-wrap: nowrap;
        flex-flow: wrap;
        justify-content: center;
    }
    .categories-slider--wraper
    {
        width: 100%;
    }
    .nav-slider
    {
        display: none;
    }
 }