.navbar--yellow{
    background-color: #fff705;
    padding-left: 6%;
}

.navbar-shopping-cart--wrapper{
    margin-left: auto;
    margin-right: 50px;
}

.navbar-shopping-cart--icon{
    width: 30px;
}