footer
{
    overflow: hidden;
    clear: both;
    position: relative;
}

.footer-items
{
    border-top: 2px solid red;
    text-decoration: none;
    /* border-radius: 30px; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px 10%;
    background-color: #ffffff;
    font-weight: 100;
}

.contact-icon{
    width: 30px;
    cursor: pointer;
}

.footer-items li
{
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.footer-items li:hover 
{
    background-color: #ff000010;
    font-weight: bold;
}

@media (max-width: 576px) {
    .footer-items{
        flex-direction: column;
    }
 }