.no-link{
    text-decoration: none;
    color: inherit;
}

.no-link:hover{
    color : inherit,
}

*{
    color: #0b0156!important;
}

body
{
    font-family: 'Roboto', Verdana;
    background-color: #f7f7f7;
}