.category-navbar {
    /* background-color: #2d88ff; */
    margin: 10px 0px;
}

.category-navbar-item{
    border-bottom: 5px solid #f0f0f0 ;
}

.category-navbar-item:hover{
    border-bottom: 5px solid #2d88ff ;
}

.category-navbar-item--icon {
    width: 32px;
}

.category-navbar-item--text{
    /* color: #ffffff!important; */
    text-decoration: none;
}